<template>
  <div class="show-card-wrapper">
    <Card bg-color="#1a1a1a">
      <template #header>
        <img :src="image" :alt="name" class="card__image" />
      </template>
      <template #content>
        <header class="content__header">
          <div class="row-wrapper">
            <h2 class="tv-show-title">{{ name }}</h2>
            <div class="user-rating"></div>
          </div>
          <div class="tv-show-details">
            <div class="tv-show-details-item time">
              <span class="value">{{ duration }}</span
              ><span class="title">Minutes</span>
            </div>
            <div class="tv-show-details-item rate">
              <span class="value">{{ rate }}</span
              ><span class="title">Rate</span>
            </div>
          </div>
        </header>
      </template>
      <template #footer>
        <Button class="more-info"> More info </Button>
      </template>
    </Card>
  </div>
</template>
  <script lang="ts">
import { defineComponent } from "vue";
import { Card, Button } from "@ui/base";

export default defineComponent({
  name: "MovieCard",
  components: {
    Card,
    Button,
  },
  props: {
    image: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    rate: {
      required: false,
    },
    duration: {
      required: false,
    },
    genres: {
      type: Array,
      required: true,
    },
    summary: {
      type: String,
    },
  },
});
</script>
  <style lang="scss">
.show-card-wrapper {
  width: 100%;
  .card__image {
    width: 100%;
  }
  .tv-show-details {
    display: flex;
    align-items: center;
    justify-content: center;
    &-item {
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .value {
        margin: 10px;
      }
      .title {
        font-weight: bold;
        color: #5e5df0;
      }
    }
  }
}
</style>