<template>
  <div>
    <Loading v-if="popularListLoading" />
    <div v-if="popularListData">
      <Grid
        gap="20px"
        :mobile="gridResponsiveConfig.mobile"
        :tablet="gridResponsiveConfig.tablet"
        :desktop-large="gridResponsiveConfig.desktopLargeSize"
      >
        <div v-for="tvShow in popularListData" :key="tvShow.id">
          <router-link :to="`/show/${tvShow.id}`">
            <MovieCard
              :genres="tvShow.genres"
              :name="tvShow.name"
              :rate="tvShow.rating.average"
              :duration="tvShow.runtime"
              :image="tvShow.image.medium"
              class="movie-card-wrapper"
            />
          </router-link>
        </div>
      </Grid>
    </div>
  </div>
</template>
<script>
// components module
import MovieCard from "../movie-card/index.vue";

// base components
import { Loading, Grid } from "@ui/base";

// store module
import useStore from "@store/useStore";

import { computed } from "vue";

export default {
  setup() {
    const store = useStore();

    const popularListLoading = computed(
      () => store.getters["shows/selectedShowsList"].isLoading
    );

    const popularListData = computed(
      () => store.getters["shows/selectedShowsList"].data?.data
    );

    return {
      popularListLoading,
      popularListData,
    };
  },
  data: function () {
    return {
      gridResponsiveConfig: {
        mobile: "100%",
        tablet: "31% 31% 31%",
        desktopLargeSize: "18% 18% 18% 18% 18%",
      },
    };
  },
  components: {
    Grid,
    Loading,
    MovieCard,
  },
};
</script>