<template>
  <button class="button" @click="onClick">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "Button",
  methods: {
    onClick: function (e) {
      this.$emit("onClick", e);
    },
  },
};
</script>
<style scoped>
.button {
  background: #a6bbff;
  border-radius: 999px;
  box-sizing: border-box;
  color: #110814;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  border: 0;
  transition: all 0.3s;
}

.button:hover {
  box-shadow: #161648 0 10px 20px -10px;
}
</style>
