<template>
  <div class="card">
    <div class="card__header">
      <slot name="header" />
    </div>
    <div class="card__content">
      <slot name="content" />
    </div>
    <div class="card__footer">
      <slot name="footer" />
    </div>
  </div>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "Card",
  props: {
    bgColor: {
      type: String,
      default: "white",
      validator: function (value) {
        return /^#[0-9A-F]{6}$/i.test(value);
      },
    },
  },
});
</script>
<style lang="scss" scoped>
.card {
  background: v-bind("bgColor");
  box-shadow: 6px 9px 6px rgb(113 153 153 / 41%);
  width: 100%;
  color: white;
  border-radius: 10px;

  &__content {
    padding: 15px;
  }

  &__footer {
    padding-bottom: 35px;
    padding-top: 15px;
  }
}
</style>
