<template>
  <Main>
    <Container>
      <Loading v-if="tvShowData?.loading" />
      <div v-if="tvShowData">
        <div class="details-page-container">
          <div class="details-page-card">
            <div class="cover-wrapper">
              <img
                :src="tvShowData?.data.image.original"
                alt="cover"
                class="cover"
              />
            </div>
            <div class="details">
              <div class="title">
                <Title element="h1">
                  {{ tvShowData?.data.name }}
                </Title>
              </div>
              <div class="description">
                <div class="meta-wrapper">
                  <div class="tag-wrapper">
                    <div v-for="genre in tvShowData?.data.genres" :key="genre">
                      <span class="tag">{{ genre }}</span>
                    </div>
                  </div>
                  <div class="rate">
                    {{ tvShowData?.data.rating.average }}
                  </div>
                </div>
                <div class="summary">
                  <div v-html="tvShowData?.data.summary"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Container>
  </Main>

  <!-- end movie-card -->
</template>

<script>
import { useRoute } from "vue-router";
import { createNamespacedHelpers } from "vuex";

import ShowsActionTypes from "@store/actions/action-types";

// base components
import { Container, Title, Loading } from "@ui/base";

// layout
import { Main } from "@ui/layout";

const { mapActions, mapGetters } = createNamespacedHelpers("shows");

export default {
  mounted() {
    const route = useRoute();
    this.fetchShowById({ showId: route.params.id });
  },
  methods: {
    ...mapActions({
      fetchShowById: ShowsActionTypes.FETCH_SHOW_BY_ID,
    }),
  },
  computed: {
    ...mapGetters(["selectedShowByIdDetails"]),
    tvShowData: function () {
      return this.selectedShowByIdDetails.data;
    },
  },
  components: {
    Container,
    Title,
    Main,
    Loading,
  },
};
</script>

<style lang="scss">
.details-page-container {
  position: relative;
  display: flex;
  min-height: 100vh;
}

.details-page-card {
  display: flex;
  flex-direction: column;
  @media (min-width: 468px) {
    flex-direction: row;
  }
}

.cover-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .cover {
    max-width: 100%;
    border-radius: 16px;
    min-width: 300px;
    max-width: 310px;
  }
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 2.5rem;

  .title {
    color: white;
    text-align: left;
  }
}

.description {
  color: #b1b0ac;
  .tag-wrapper {
    display: flex;
  }
}

.meta-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5e5df0;
  margin-bottom: 3rem;
  .tag {
    padding: 3px 8px;
  }
}

.summary {
  text-align: left;
}
</style>