<template>
  <router-link active-class="active-menu-item" class="navItem" :to="href">
    <slot></slot>
  </router-link>
</template>

<script lang="ts">
export default {
  name: "nav",
  props: {
    href: {
      type: String,
    },
  },
  data: function () {
    return {
      isActive: false,
    };
  },
};
</script>

<style lang="scss">
.navItem {
  padding: 1rem 2rem;
  color: #25252a;
  text-decoration: none;
  transition: color 0.2s, background-color 0.3s;
  &:hover {
    background-color: #5e5df0;
    color: white;
  }
}

@media screen and (max-width: 1024px) {
  .navItem {
    &:hover {
      background-color: #b4b4bd;
      color: inherit;
    }
  }
}

:global {
  .active-menu-item {
    background-color: #181835;
    color: white;
  }
}
</style>
