<template>
  <div class="grid-container">
    <slot></slot>
  </div>
</template>
  <script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "Grid",
  props: {
    justify: {
      type: String,
      default: "space-around",
    },
    templateColumns: {
      type: String,
      default: "18% 18% 18% 18% 18%",
    },
    gap: {
      type: String,
      default: "10px",
    },

    // Configuration for responsiveness
    mobile: {
      type: String,
      default: "100%",
    },
    tablet: {
      type: String,
      default: "18% 18% 18% 18% 18%",
    },

    desktopLarge: {
      type: String,
      default: "18% 18% 18% 18% 18%",
    },
  },
});
</script>
  <style lang="scss" scoped>
.grid-container {
  display: grid;
  justify-content: v-bind(justify);
  grid-template-columns: v-bind(templateColumns);
  grid-gap: v-bind(gap);

  @media (min-width: 320px) {
    .grid-container {
      grid-template-columns: v-bind(mobileSize);
    }
  }
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: v-bind(tablet);
    }
  }
  @media (min-width: 992px) {
    .grid-container {
      grid-template-columns: v-bind(desktopSmall);
    }
  }
  @media (min-width: 1200px) {
    .grid-container {
      grid-template-columns: v-bind(desktopLarge);
    }
  }
}
</style>