<template>
  <component :is="element"><slot></slot></component>
</template>

<script>
export default {
  name: "Title",
  props: {
    element: {
      type: String,
      default: "h2",
    },
  },
};
</script>
<style scoped></style>
