<template>
  <footer class="footer">
    <slot></slot>
  </footer>
</template>

<script lang="ts">
export default {
  name: "Footer",
};
</script>

<style lang="scss" scoped>
.footer {
  box-shadow: 1px 1px 6px grey;
}
</style>
