<template>
  <div class="loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</template>

<script>
export default {
  name: "Loading",
};
</script>
<style lang="scss" scoped>
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  // We could also use a package or some other loading animation approaches
  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  div:nth-child(1) {
    left: 8px;
    animation: div1-animation 0.6s infinite;
  }

  div:nth-child(2) {
    left: 8px;
    animation: div2-animation 0.6s infinite;
  }

  div:nth-child(3) {
    left: 32px;
    animation: div2-animation 0.6s infinite;
  }

  div:nth-child(4) {
    left: 56px;
    animation: div4-animation 0.6s infinite;
  }
}

@keyframes div1-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes div2-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes div3-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
</style>
