<template>
  <header class="header">
    <img class="logo" src="../../../assets/images/logo.png" />
    <p class="text">ABN AMRO CHALLENGE</p>
  </header>
</template>

<script lang="ts">
export default {
  name: "Header",
  components: {},
  methods: {
    // In case we want to handle a login/logout case
    handleAuthAction: function () {},
  },
};
</script>

<style lang="scss">
.logo {
  width: 100px;
  max-width: 100%;
}
.text {
  color: white;
  font-weight: bold;
  font-size: 10px;
}
</style>
