<template>
  <Container>
    <Title class="main-title">ABN AMRO CHALLENGE</Title>
    <Title class="main-title">List of TV Shows</Title>
    <MovieList />
  </Container>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

// module components
import MovieList from "@components/movie-list/index.vue";

// base components
import { Container, Title } from "@ui/base";

// store
import { createNamespacedHelpers } from "vuex";
import ShowsActionTypes from "@store/actions/action-types";

const { mapActions, mapGetters } = createNamespacedHelpers("shows");

@Options({
  components: {
    // base
    Container,
    Title,
    // modules
    MovieList,
  },

  methods: {
    ...mapActions({
      fetchShowsList: ShowsActionTypes.FETCH_SHOWS_LIST,
    }),
  },
  computed: {
    ...mapGetters(["selectedShowsList"]),
  },
})
export default class ShowsListView extends Vue {
  fetchShowsList!: () => unknown;

  mounted() {
    this.fetchShowsList();
  }
}
</script>
<style scoped>
.main-title {
  padding: 1rem 0 1rem 0;
  color: #ffffff;
}
</style>
