<template>
  <Styles />
  <router-view />
</template>
<script lang="ts">
import Styles from "@/styles.vue";

export default {
  components: {
    Styles,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
