<template>
  <slot></slot>
</template>

<style>
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: black;
}
</style>
